@import "../../style/_variables.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper__searchForm {
    margin: 120px 0 0 0;
    width: 90%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .searchForom__loupe {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $Dark_Gray;
      font-size: 23px;
    }

    .searchForom__input {
      width: 90%;
      text-align: center;
      height: 50px;
      border: none;
      outline: none;
      box-shadow: 0px 0px 32px -18px rgba(66, 68, 90, 1);
      border-radius: 5px;
      color: $Dark_Gray;
      font-size: 20px;

      &::placeholder {
        text-align: left;
        padding: 0 0 0 60px;
        font-size: 15px;
      }
    }

    .searchForom__selectRegion {
      width: 50%;
      height: 50px;
      color: $Very_Dark_Blue;
      font-size: 18px;
      border: none;
      outline: none;
      border-radius: 5px;
      box-shadow: 0px 0px 32px -18px rgba(66, 68, 90, 1);
    }

    .selectRegion > option {
      margin: 20px 0 0 0;
      font-size: 16px;
    }
  }
}
